:root{
    --color-text:#00B4DB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font-family: 'Hind Madurai', sans-serif;
}
.container{
  
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 80%;
    margin: 20px auto;
    padding: 15px 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 2.5px #767676 solid;
    box-shadow: 0 8px 10px -5px black;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.title-container p{
    width: 80%;
    font-size: 14px;
}

.title-container h2{
    color: var(--color-text);
}
.title-container h2, .title-container p{
    font-weight: 400;
}

.text-area-container{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 100%;
    gap: 10px;
    
}

.original-text-container, .modified-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 250px;
}
.original-text-container > button, .modified-text-container > button{
    margin-top: 10px;
}
#original-text{
    width: 100%;
    height: 100%;

    background-color: #232526;  /* fallback for old browsers */
    
    padding: 10px;
    color: white;
    outline: none;
    word-wrap: break-word;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    resize: none;
    
    box-shadow: inset 0 0 10px rgb(17, 17, 17);
   /* border: 0.5px #00B4DB solid;*/
}

#modified-text{
    width: 100%;
    height: 100%;
    padding: 10px;

    background-color: #232526;  /* fallback for old browsers */
    
    overflow: auto;
    border-radius: 5px;
    border: none;

    box-shadow: inset 0 0 10px rgb(17, 17, 17);
}

#texto-modificado{
    word-wrap: break-word;
}


.description-functions-container{
    width: 60%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;

}
.description-functions-container h2{
    text-align: center;
    font-weight: 400;
}
.description-functions-container h3{
    font-weight: 400;
    color: var(--color-text);
}
.description-functions-container p{
    font-size: 14px;
    font-weight: 400;
}
.description-functions-container div > b{
    font-size: 14px;
}


.description-functions-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 12px;
    border: 2.5px #767676 solid;
    border-radius: 5px;
    box-shadow: 0 8px 10px -5px black;
}

.title-description{
    text-align: center;
    margin: 20px auto;
    display: block;
    width: 60%;
}

.title-description h2{
    font-size: 35px;
    font-weight: 400;
    text-shadow: 0px 5px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

button{
    padding: 2px 6px;
    margin-bottom: 5px;
    border: none;
    border-radius: 2px;
    background-color: #767676;
    color: white;
    font-size: 13px;
    cursor:pointer;
    transition: background-color .3s ease;
}

button:hover{
    background-color: #1a1a1a;
    color: var(--color-text);
}
a{
    text-decoration: none;
    transition: color .2s ease;
    color: var(--color-text);
}

a:visited{
    color: var(--color-text);
}

footer{
    background-color: #232526;
    text-align: center;
}


@media only screen and (max-width: 800px){
    .description-functions-container{
        width: 80%;
    }

    .title-description{
        width: 80%;
    }

    .text-area-container{
        flex-direction: column;
        align-items: center;
    }

    .original-text-container, .modified-text-container{
        width: 100%;
    }
}